<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" 
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:soap="http://cxf.apache.org/bindings/soap"
	xsi:schemaLocation="
						http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/data/jpa 
						http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
						http://cxf.apache.org/bindings/soap 
						http://cxf.apache.org/schemas/configuration/soap.xsd
						http://cxf.apache.org/jaxws 
						http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- 连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="jdbcUrl" value="jdbc:oracle:thin:@192.168.27.200:1521:ORCL" />
		<property name="user" value="heima_bos_03" />
		<property name="password" value="heima_bos03" />
	</bean> 
	
	<!-- spring整合JPA -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 指定扫描的包，存放实体类 -->
		<property name="packagesToScan" value="cn.itheima.crm.domain" />
		<!-- 指定持久层提供者为Hibernate -->
		<property name="persistenceProvider">
			<bean class="org.hibernate.ejb.HibernatePersistence" />
		</property>
		<!-- jpa供应商适配器 （自动建表 数据库 方言 是否显示sql语句） -->
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- 自动建表 -->
				<property name="generateDdl" value="true" />
				<property name="database" value="ORACLE" />
				<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect" />
				<property name="showSql" value="true" />
			</bean>
		</property>
		<!-- jpa方言配置 可以不加 （前提必须有jpaVendorAdapter配置） 自动识别 -->
		<property name="jpaDialect">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
		</property>
	</bean>
	
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	
	<!-- 组件扫描 @Server @Controller @Repository -->
	<context:component-scan base-package="cn.itheima.crm.service"/>
	
	<!-- 事务注解支持 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- Spring 初始化容器时将会扫描 base-package 指定的包目录及其子目录，
	为继承 Repository 或其子接口的接口创建代理对象，
	并将代理对象注册为 Spring Bean，放入spring容器中，业务层便可以通过注解注入的方式来直接使用该对象。 -->
	<jpa:repositories base-package="cn.itheima.crm.dao" />
	
	
	<!-- 配置发布webservice服务 -->	
	<!-- serviceClass="cn.itheima.crm.service.impl.CustomerServiceImpl" 后续这么配置会有事务问题 
	serviceClass：new 对象 并不在spring容器中 直接使用容器中的bean
	-->
	<!-- <jaxws:server address="/crmService" serviceClass="cn.itheima.crm.service.impl.CustomerServiceImpl">
	</jaxws:server> -->
	<jaxws:server address="/crmService">
		<jaxws:serviceBean>
			<ref bean="customerServiceImpl"/>
		</jaxws:serviceBean>
	</jaxws:server>
	
</beans>
